@import "./../../globals/styles.scss";
.Cell {
  border-radius: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transition: 0.1s;

  background-size: cover;
  cursor: grab;
  span {
    user-select: none;
    font-size: $font-size-item;
    font-family: $font-family-calib;
    color: white;
    z-index: 0;
    text-shadow: -0 -4px 0 #242546, 0 -4px 0 #242546, -0 4px 0 #242546,
      0 4px 0 #242546, -4px -0 0 #242546, 4px -0 0 #242546, -4px 0 0 #242546,
      4px 0 0 #242546, -1px -4px 0 #242546, 1px -4px 0 #242546,
      -1px 4px 0 #242546, 1px 4px 0 #242546, -4px -1px 0 #242546,
      4px -1px 0 #242546, -4px 1px 0 #242546, 4px 1px 0 #242546,
      -2px -4px 0 #242546, 2px -4px 0 #242546, -2px 4px 0 #242546,
      2px 4px 0 #242546, -4px -2px 0 #242546, 4px -2px 0 #242546,
      -4px 2px 0 #242546, 4px 2px 0 #242546, -3px -4px 0 #242546,
      3px -4px 0 #242546, -3px 4px 0 #242546, 3px 4px 0 #242546,
      -4px -3px 0 #242546, 4px -3px 0 #242546, -4px 3px 0 #242546,
      4px 3px 0 #242546, -4px -4px 0 #242546, 4px -4px 0 #242546,
      -4px 4px 0 #242546, 4px 4px 0 #242546, -4px -4px 0 #242546,
      4px -4px 0 #242546, -4px 4px 0 #242546, 4px 4px 0 #242546;
  }
}
