@import "./../../globals/styles.scss";
.Board {
  width: 900px;
  height: 230px;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  column-gap: 4px;
  position: absolute;
  background-repeat: no-repeat;
}
.Board > div:nth-child(2) {
  margin-left: 164px;
}
