.GameWrapper {
  width: 100wh;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Game {
  width: auto;
  width: 980px;
  height: 810px;
  position: relative;
}
